In [13]:
import pandas as pd
import os

In [14]:
datos = dict()
nombres = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre']

path = r"C:\Users\andre\OneDrive\Documentos\Maestr√≠a\Proyecto de Grado\Result_Datos\result_meses"

for mes in nombres:
    folder_path = os.path.join(path, mes + '.csv')
    data = pd.read_csv(folder_path, sep=';', encoding='Latin1')
    df = data[(data['EDAD'].isin(range(18,29))) & (data['ACTIVIDAD_OCUPADA_ULTIMA_SEMANA'].isin([1,2]))].reset_index(drop=True)
    datos[mes] = df

In [15]:
columnas = ['ZONA_TERRITORIAL', 'DPTO', 'SEXO',
       'PARENTESCO_JEFE_DE_HOGAR', 'MADRE_RESIDE_HOGAR', 'PADRE_RESIDE_HOGAR',
       'SE_CONSIDERA_CAMPESINO', 'COMUNIDAD_ES_CAMPESINA', 'ETNIA', 'ESTADO_CIVIL',
       'AFILIADO_SALUD', 'DIFICULTAD_OIR', 'DIFICULTAD_HABLAR', 'DIFICULTAD_VER',
       'DIFICULTAD_MOVER_SUBIR_BAJAR', 'DIFICULTAD_AGARRAR',
       'DIFICULTAD_ENTENDER', 'DIFICULTAD_BANARSE_VESTIRSE',
       'DIFICULTAD_RELACIONARSE', 'LEER_ESCRIBIR', 'ACTUALMENTE_ESTUDIA', 'MAYOR_NIVEL_EDUCATIVO',
       'MAYOR_GRADO_ALCANZADO', 'TITULO_OBTENIDO', 'ORIENTACION_SEXUAL',
       'GENERO', 'ACTIVIDAD_OCUPADA_ULTIMA_SEMANA', 'TIPO_VIVIENDA',
       'MATERIAL_PAREDES', 'MATERIAL_PISOS', 'SERVICIOS_ENERGIA_ELECTRICA',
       'ESTRATO_ENERGIA_ELECTRICA', 'SERVICIOS_GAS_NATURAL',
       'SERVICIOS_ALCANTARILLADO', 'SERVICIOS_RECOLECCION_BASURAS',
       'SERVICIOS_ACUEDUCTO', 'TIPO_SANITARIO', 'COMO_ELIMINA_BASURA', 'DONDE_OBTIENE_AGUA',
       'DONDE_PREPARA_ALIMENTOS', 'TIPO_COMBUSTIBLE_COCINAR',
       'TIPO_OCUPACION_VIVIENDA', 'HOGAR_TIENE_CUENTA_CORRIENTE',
       'HOGAR_TIENE_CUENTA_AHORROS', 'HOGAR_TIENE_CDT',
       'HOGAR_TIENE_PRESTAMO_COMPRA_VIVIENDA',
       'HOGAR_TIENE_PRESTAMO_COMPRA_VEHICULO',
       'HOGAR_TIENE_PRESTAMO_LIBRE_INVERSION', 'HOGAR_TIENE_TARJETA_CREDITO',
       'HOGAR_TIENE_OTRO_FINANCIERO', 'HOGAR_TIENE_NINGUNO_DE_ESTOS',
       'HOGAR_NO_SABE_FINANCIERO']

In [16]:
for col in columnas:
    print("----Variable:{}----".format(col))
    for mes in nombres:
        print("Mes:{}----".format(mes))
        print(datos[mes][col].value_counts())
    
    print("-"*20)

----Variable:ZONA_TERRITORIAL----
Mes:Enero----
ZONA_TERRITORIAL
1    6146
2     756
Name: count, dtype: int64
Mes:Febrero----
ZONA_TERRITORIAL
1    6106
2     738
Name: count, dtype: int64
Mes:Marzo----
ZONA_TERRITORIAL
1    6207
2     637
Name: count, dtype: int64
Mes:Abril----
ZONA_TERRITORIAL
1    5967
2     708
Name: count, dtype: int64
Mes:Mayo----
ZONA_TERRITORIAL
1    5861
2     679
Name: count, dtype: int64
Mes:Junio----
ZONA_TERRITORIAL
1    5973
2     655
Name: count, dtype: int64
Mes:Julio----
ZONA_TERRITORIAL
1    6002
2     734
Name: count, dtype: int64
Mes:Agosto----
ZONA_TERRITORIAL
1    5947
2     671
Name: count, dtype: int64
Mes:Septiembre----
ZONA_TERRITORIAL
1    5751
2     765
Name: count, dtype: int64
Mes:Octubre----
ZONA_TERRITORIAL
1    5462
2     734
Name: count, dtype: int64
Mes:Noviembre----
ZONA_TERRITORIAL
1    5620
2     694
Name: count, dtype: int64
--------------------
----Variable:DPTO----
Mes:Enero----
DPTO
5     512
76    406
68    374
66    365
54    350
13    299
50    290
8     277
47    276
41    275
17    268
63    262
11    260
52    245
73    225
19    218
18    215
15    213
70    212
27    208
44    204
20    193
23    187
25    141
88    112
81     57
95     55
94     46
85     43
99     40
86     35
97     21
91     18
Name: count, dtype: int64
Mes:Febrero----
DPTO
5     489
76    412
68    348
17    325
66    322
8     300
11    286
50    284
13    281
47    280
54    278
41    277
63    275
52    271
44    259
20    224
73    215
19    213
18    212
70    204
23    191
15    170
25    160
27    157
88     78
85     66
81     65
95     44
91     42
99     35
94     31
97     29
86     21
Name: count, dtype: int64
Mes:Marzo----
DPTO
5     472
76    409
68    401
66    343
52    310
17    309
50    306
8     285
54    278
11    271
13    264
18    259
41    256
47    239
44    236
63    232
73    223
20    212
23    209
19    205
15    202
70    173
27    169
25    159
88     78
85     68
95     47
81     45
91     45
99     45
94     38
97     36
86     20
Name: count, dtype: int64
Mes:Abril----
DPTO
5     473
76    375
17    337
8     335
66    324
68    311
50    292
52    283
47    264
13    262
18    258
54    254
41    253
11    249
63    229
44    221
19    216
70    213
73    208
15    206
20    204
23    193
27    171
25    138
88     69
85     56
97     55
95     46
91     46
81     42
99     41
94     28
86     23
Name: count, dtype: int64
Mes:Mayo----
DPTO
5     457
76    354
68    334
66    315
54    303
13    301
47    294
11    289
8     288
17    281
50    263
52    243
15    235
41    230
18    225
19    210
70    210
44    209
20    207
63    205
23    204
73    189
27    176
25    140
88     66
94     55
95     44
81     44
97     43
99     40
85     32
91     31
86     23
Name: count, dtype: int64
Mes:Junio----
DPTO
5     478
76    353
68    350
66    329
8     312
17    306
11    287
13    274
54    268
52    268
50    259
18    253
47    252
41    242
63    240
44    225
15    217
23    202
19    199
70    198
20    196
73    185
27    175
25    134
85     60
88     57
97     53
94     50
99     44
81     43
95     41
86     40
91     38
Name: count, dtype: int64
Mes:Julio----
DPTO
5     513
66    376
76    357
17    330
50    314
68    304
52    296
47    293
11    275
13    274
63    249
18    247
8     246
41    246
54    239
19    225
20    218
23    213
73    213
44    211
15    207
27    174
70    171
25    158
81     73
95     55
85     49
88     49
94     36
91     34
99     34
97     31
86     26
Name: count, dtype: int64
Mes:Agosto----
DPTO
5     472
76    373
68    347
8     333
66    318
17    299
54    287
11    278
47    274
50    272
52    270
13    269
63    236
18    229
41    226
19    224
15    219
23    207
44    207
20    197
27    182
73    175
70    172
25    143
85     68
95     63
88     48
94     47
99     47
97     39
91     36
81     35
86     26
Name: count, dtype: int64
Mes:Septiembre----
DPTO
5     480
68    356
76    342
66    321
17    318
41    284
50    280
8     274
11    261
54    258
52    254
13    241
18    240
19    234
63    229
47    228
15    212
44    209
23    209
20    207
70    205
73    185
25    172
27    157
88     73
95     47
97     46
85     46
81     37
99     33
94     29
86     25
91     24
Name: count, dtype: int64
Mes:Octubre----
DPTO
5     469
76    342
68    303
66    297
17    285
13    283
8     278
18    260
11    251
50    246
52    245
47    238
41    228
54    222
20    221
23    217
19    206
63    199
73    194
44    189
70    186
15    185
25    152
27    146
95     56
88     49
85     46
81     44
99     37
94     35
97     34
86     31
91     22
Name: count, dtype: int64
Mes:Noviembre----
DPTO
5     445
68    356
76    349
17    306
8     306
66    304
11    266
47    256
13    246
52    246
50    242
18    239
63    225
41    219
19    214
54    212
20    209
23    208
44    207
73    205
70    189
15    184
27    159
25    128
85     64
88     62
94     44
95     42
97     41
86     40
81     39
99     33
91     29
Name: count, dtype: int64
--------------------
----Variable:SEXO----
Mes:Enero----
SEXO
1    4150
2    2752
Name: count, dtype: int64
Mes:Febrero----
SEXO
1    3993
2    2851
Name: count, dtype: int64
Mes:Marzo----
SEXO
1    4021
2    2823
Name: count, dtype: int64
Mes:Abril----
SEXO
1    3879
2    2796
Name: count, dtype: int64
Mes:Mayo----
SEXO
1    3853
2    2687
Name: count, dtype: int64
Mes:Junio----
SEXO
1    3897
2    2731
Name: count, dtype: int64
Mes:Julio----
SEXO
1    3915
2    2821
Name: count, dtype: int64
Mes:Agosto----
SEXO
1    3844
2    2774
Name: count, dtype: int64
Mes:Septiembre----
SEXO
1    3781
2    2735
Name: count, dtype: int64
Mes:Octubre----
SEXO
1    3655
2    2541
Name: count, dtype: int64
Mes:Noviembre----
SEXO
1    3674
2    2640
Name: count, dtype: int64
--------------------
----Variable:PARENTESCO_JEFE_DE_HOGAR----
Mes:Enero----
PARENTESCO_JEFE_DE_HOGAR
3     3212
1     1804
2      749
8      339
9      244
6      186
7      186
13     154
10      17
12       5
5        3
11       2
4        1
Name: count, dtype: int64
Mes:Febrero----
PARENTESCO_JEFE_DE_HOGAR
3     3152
1     1803
2      762
8      306
6      223
9      220
7      196
13     154
10      23
5        2
12       2
11       1
Name: count, dtype: int64
Mes:Marzo----
PARENTESCO_JEFE_DE_HOGAR
3     3058
1     1840
2      790
8      311
9      243
7      206
6      180
13     178
10      33
12       4
11       1
Name: count, dtype: int64
Mes:Abril----
PARENTESCO_JEFE_DE_HOGAR
3     2939
1     1825
2      771
8      279
9      263
6      203
13     185
7      175
10      31
12       2
5        1
4        1
Name: count, dtype: int64
Mes:Mayo----
PARENTESCO_JEFE_DE_HOGAR
3     2887
1     1807
2      737
8      337
9      250
7      184
6      160
13     151
10      23
12       2
11       1
5        1
Name: count, dtype: int64
Mes:Junio----
PARENTESCO_JEFE_DE_HOGAR
3     2952
1     1821
2      768
8      302
9      237
7      183
6      174
13     151
10      33
11       2
12       2
4        2
5        1
Name: count, dtype: int64
Mes:Julio----
PARENTESCO_JEFE_DE_HOGAR
3     3006
1     1826
2      743
8      319
9      258
6      215
7      167
13     164
10      29
12       6
11       2
4        1
Name: count, dtype: int64
Mes:Agosto----
PARENTESCO_JEFE_DE_HOGAR
3     2952
1     1800
2      759
8      289
9      235
6      203
7      188
13     157
10      27
12       5
11       2
5        1
Name: count, dtype: int64
Mes:Septiembre----
PARENTESCO_JEFE_DE_HOGAR
3     2885
1     1850
2      740
8      273
9      238
6      182
7      162
13     144
10      32
11       4
5        3
12       3
Name: count, dtype: int64
Mes:Octubre----
PARENTESCO_JEFE_DE_HOGAR
3     2691
1     1831
2      710
8      284
9      220
7      160
6      141
13     139
10      16
12       3
4        1
Name: count, dtype: int64
Mes:Noviembre----
PARENTESCO_JEFE_DE_HOGAR
3     2869
1     1729
2      716
8      290
9      223
7      172
6      165
13     127
10      23
Name: count, dtype: int64
--------------------
----Variable:MADRE_RESIDE_HOGAR----
Mes:Enero----
MADRE_RESIDE_HOGAR
2    3363
1    3299
3     240
Name: count, dtype: int64
Mes:Febrero----
MADRE_RESIDE_HOGAR
2    3406
1    3192
3     246
Name: count, dtype: int64
Mes:Marzo----
MADRE_RESIDE_HOGAR
2    3458
1    3136
3     250
Name: count, dtype: int64
Mes:Abril----
MADRE_RESIDE_HOGAR
2    3396
1    3029
3     250
Name: count, dtype: int64
Mes:Mayo----
MADRE_RESIDE_HOGAR
2    3338
1    2990
3     212
Name: count, dtype: int64
Mes:Junio----
MADRE_RESIDE_HOGAR
2    3335
1    3042
3     251
Name: count, dtype: int64
Mes:Julio----
MADRE_RESIDE_HOGAR
2    3364
1    3153
3     219
Name: count, dtype: int64
Mes:Agosto----
MADRE_RESIDE_HOGAR
2    3342
1    3033
3     243
Name: count, dtype: int64
Mes:Septiembre----
MADRE_RESIDE_HOGAR
2    3388
1    2916
3     212
Name: count, dtype: int64
Mes:Octubre----
MADRE_RESIDE_HOGAR
2    3178
1    2814
3     204
Name: count, dtype: int64
Mes:Noviembre----
MADRE_RESIDE_HOGAR
2    3182
1    2920
3     212
Name: count, dtype: int64
--------------------
----Variable:PADRE_RESIDE_HOGAR----
Mes:Enero----
PADRE_RESIDE_HOGAR
2    4498
1    1686
3     718
Name: count, dtype: int64
Mes:Febrero----
PADRE_RESIDE_HOGAR
2    4496
1    1683
3     665
Name: count, dtype: int64
Mes:Marzo----
PADRE_RESIDE_HOGAR
2    4551
1    1590
3     703
Name: count, dtype: int64
Mes:Abril----
PADRE_RESIDE_HOGAR
2    4421
1    1561
3     693
Name: count, dtype: int64
Mes:Mayo----
PADRE_RESIDE_HOGAR
2    4343
1    1496
3     701
Name: count, dtype: int64
Mes:Junio----
PADRE_RESIDE_HOGAR
2    4254
1    1665
3     709
Name: count, dtype: int64
Mes:Julio----
PADRE_RESIDE_HOGAR
2    4418
1    1602
3     716
Name: count, dtype: int64
Mes:Agosto----
PADRE_RESIDE_HOGAR
2    4332
1    1600
3     686
Name: count, dtype: int64
Mes:Septiembre----
PADRE_RESIDE_HOGAR
2    4367
1    1537
3     612
Name: count, dtype: int64
Mes:Octubre----
PADRE_RESIDE_HOGAR
2    4119
1    1442
3     635
Name: count, dtype: int64
Mes:Noviembre----
PADRE_RESIDE_HOGAR
2    4221
1    1505
3     588
Name: count, dtype: int64
--------------------
----Variable:SE_CONSIDERA_CAMPESINO----
Mes:Enero----
SE_CONSIDERA_CAMPESINO
2    5315
1    1570
9      17
Name: count, dtype: int64
Mes:Febrero----
SE_CONSIDERA_CAMPESINO
2    5309
1    1525
9      10
Name: count, dtype: int64
Mes:Marzo----
SE_CONSIDERA_CAMPESINO
2    5281
1    1552
9      11
Name: count, dtype: int64
Mes:Abril----
SE_CONSIDERA_CAMPESINO
2    5119
1    1540
9      16
Name: count, dtype: int64
Mes:Mayo----
SE_CONSIDERA_CAMPESINO
2    4985
1    1544
9      11
Name: count, dtype: int64
Mes:Junio----
SE_CONSIDERA_CAMPESINO
2    5072
1    1538
9      18
Name: count, dtype: int64
Mes:Julio----
SE_CONSIDERA_CAMPESINO
2    5090
1    1636
9      10
Name: count, dtype: int64
Mes:Agosto----
SE_CONSIDERA_CAMPESINO
2    4969
1    1642
9       7
Name: count, dtype: int64
Mes:Septiembre----
SE_CONSIDERA_CAMPESINO
2    4916
1    1583
9      17
Name: count, dtype: int64
Mes:Octubre----
SE_CONSIDERA_CAMPESINO
2    4636
1    1544
9      16
Name: count, dtype: int64
Mes:Noviembre----
SE_CONSIDERA_CAMPESINO
2    4805
1    1489
9      20
Name: count, dtype: int64
--------------------
----Variable:COMUNIDAD_ES_CAMPESINA----
Mes:Enero----
COMUNIDAD_ES_CAMPESINA
2    5759
1    1120
9      23
Name: count, dtype: int64
Mes:Febrero----
COMUNIDAD_ES_CAMPESINA
2    5700
1    1131
9      13
Name: count, dtype: int64
Mes:Marzo----
COMUNIDAD_ES_CAMPESINA
2    5700
1    1128
9      16
Name: count, dtype: int64
Mes:Abril----
COMUNIDAD_ES_CAMPESINA
2    5489
1    1172
9      14
Name: count, dtype: int64
Mes:Mayo----
COMUNIDAD_ES_CAMPESINA
2    5390
1    1125
9      25
Name: count, dtype: int64
Mes:Junio----
COMUNIDAD_ES_CAMPESINA
2    5448
1    1156
9      24
Name: count, dtype: int64
Mes:Julio----
COMUNIDAD_ES_CAMPESINA
2    5480
1    1238
9      18
Name: count, dtype: int64
Mes:Agosto----
COMUNIDAD_ES_CAMPESINA
2    5415
1    1182
9      21
Name: count, dtype: int64
Mes:Septiembre----
COMUNIDAD_ES_CAMPESINA
2    5348
1    1143
9      25
Name: count, dtype: int64
Mes:Octubre----
COMUNIDAD_ES_CAMPESINA
2    4997
1    1171
9      28
Name: count, dtype: int64
Mes:Noviembre----
COMUNIDAD_ES_CAMPESINA
2    5182
1    1107
9      25
Name: count, dtype: int64
--------------------
----Variable:ETNIA----
Mes:Enero----
ETNIA
6    6161
5     509
1     210
3      19
4       2
2       1
Name: count, dtype: int64
Mes:Febrero----
ETNIA
6    6090
5     511
1     223
3      19
2       1
Name: count, dtype: int64
Mes:Marzo----
ETNIA
6    6103
5     479
1     248
3      13
4       1
Name: count, dtype: int64
Mes:Abril----
ETNIA
6    5927
5     483
1     252
3      11
4       1
2       1
Name: count, dtype: int64
Mes:Mayo----
ETNIA
6    5743
5     533
1     253
3       9
2       1
4       1
Name: count, dtype: int64
Mes:Junio----
ETNIA
6    5831
5     502
1     281
3      11
4       2
2       1
Name: count, dtype: int64
Mes:Julio----
ETNIA
6    5927
5     483
1     313
3      10
4       2
2       1
Name: count, dtype: int64
Mes:Agosto----
ETNIA
6    5834
5     533
1     231
3      19
4       1
Name: count, dtype: int64
Mes:Septiembre----
ETNIA
6    5685
5     549
1     273
3       8
4       1
Name: count, dtype: int64
Mes:Octubre----
ETNIA
6    5538
5     447
1     194
3      15
4       1
2       1
Name: count, dtype: int64
Mes:Noviembre----
ETNIA
6    5610
5     462
1     226
3      16
Name: count, dtype: int64
--------------------
----Variable:ESTADO_CIVIL----
Mes:Enero----
ESTADO_CIVIL
6.0    4097
2.0    1665
1.0     444
4.0     438
3.0     245
5.0      13
Name: count, dtype: int64
Mes:Febrero----
ESTADO_CIVIL
6.0    4122
2.0    1676
4.0     426
1.0     413
3.0     199
5.0       8
Name: count, dtype: int64
Mes:Marzo----
ESTADO_CIVIL
6.0    4019
2.0    1707
1.0     472
4.0     453
3.0     187
5.0       6
Name: count, dtype: int64
Mes:Abril----
ESTADO_CIVIL
6.0    3933
2.0    1666
4.0     469
1.0     436
3.0     162
5.0       9
Name: count, dtype: int64
Mes:Mayo----
ESTADO_CIVIL
6.0    3841
2.0    1644
4.0     424
1.0     414
3.0     208
5.0       9
Name: count, dtype: int64
Mes:Junio----
ESTADO_CIVIL
6.0    3851
2.0    1701
4.0     461
1.0     407
3.0     202
5.0       6
Name: count, dtype: int64
Mes:Julio----
ESTADO_CIVIL
6.0    4037
2.0    1610
4.0     463
1.0     417
3.0     199
5.0      10
Name: count, dtype: int64
Mes:Agosto----
ESTADO_CIVIL
6.0    3848
2.0    1705
4.0     454
1.0     419
3.0     183
5.0       9
Name: count, dtype: int64
Mes:Septiembre----
ESTADO_CIVIL
6.0    3826
2.0    1680
1.0     408
4.0     404
3.0     190
5.0       8
Name: count, dtype: int64
Mes:Octubre----
ESTADO_CIVIL
6.0    3640
2.0    1488
1.0     456
4.0     408
3.0     193
5.0      11
Name: count, dtype: int64
Mes:Noviembre----
ESTADO_CIVIL
6.0    3804
2.0    1521
1.0     433
4.0     394
3.0     152
5.0      10
Name: count, dtype: int64
--------------------
----Variable:AFILIADO_SALUD----
Mes:Enero----
AFILIADO_SALUD
1    6266
2     623
9      13
Name: count, dtype: int64
Mes:Febrero----
AFILIADO_SALUD
1    6195
2     638
9      11
Name: count, dtype: int64
Mes:Marzo----
AFILIADO_SALUD
1    6211
2     626
9       7
Name: count, dtype: int64
Mes:Abril----
AFILIADO_SALUD
1    6100
2     568
9       7
Name: count, dtype: int64
Mes:Mayo----
AFILIADO_SALUD
1    5933
2     602
9       5
Name: count, dtype: int64
Mes:Junio----
AFILIADO_SALUD
1    6090
2     533
9       5
Name: count, dtype: int64
Mes:Julio----
AFILIADO_SALUD
1    6167
2     560
9       9
Name: count, dtype: int64
Mes:Agosto----
AFILIADO_SALUD
1    6051
2     561
9       6
Name: count, dtype: int64
Mes:Septiembre----
AFILIADO_SALUD
1    5987
2     522
9       7
Name: count, dtype: int64
Mes:Octubre----
AFILIADO_SALUD
1    5676
2     511
9       9
Name: count, dtype: int64
Mes:Noviembre----
AFILIADO_SALUD
1    5842
2     460
9      12
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_OIR----
Mes:Enero----
DIFICULTAD_OIR
4    6864
3      27
2      10
1       1
Name: count, dtype: int64
Mes:Febrero----
DIFICULTAD_OIR
4    6808
3      30
1       3
2       3
Name: count, dtype: int64
Mes:Marzo----
DIFICULTAD_OIR
4    6812
3      26
2       5
1       1
Name: count, dtype: int64
Mes:Abril----
DIFICULTAD_OIR
4    6644
3      24
2       7
Name: count, dtype: int64
Mes:Mayo----
DIFICULTAD_OIR
4    6512
3      24
1       3
2       1
Name: count, dtype: int64
Mes:Junio----
DIFICULTAD_OIR
4    6599
3      24
2       5
Name: count, dtype: int64
Mes:Julio----
DIFICULTAD_OIR
4    6700
3      27
2       6
1       3
Name: count, dtype: int64
Mes:Agosto----
DIFICULTAD_OIR
4    6577
3      33
2       6
1       2
Name: count, dtype: int64
Mes:Septiembre----
DIFICULTAD_OIR
4    6474
3      34
1       7
2       1
Name: count, dtype: int64
Mes:Octubre----
DIFICULTAD_OIR
4    6161
3      28
2       5
1       2
Name: count, dtype: int64
Mes:Noviembre----
DIFICULTAD_OIR
4    6278
3      29
2       6
1       1
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_HABLAR----
Mes:Enero----
DIFICULTAD_HABLAR
4    6873
3      28
1       1
Name: count, dtype: int64
Mes:Febrero----
DIFICULTAD_HABLAR
4    6827
3      11
1       3
2       3
Name: count, dtype: int64
Mes:Marzo----
DIFICULTAD_HABLAR
4    6833
3       8
2       2
1       1
Name: count, dtype: int64
Mes:Abril----
DIFICULTAD_HABLAR
4    6661
3      11
2       3
Name: count, dtype: int64
Mes:Mayo----
DIFICULTAD_HABLAR
4    6527
3       9
1       3
2       1
Name: count, dtype: int64
Mes:Junio----
DIFICULTAD_HABLAR
4    6613
3      14
1       1
Name: count, dtype: int64
Mes:Julio----
DIFICULTAD_HABLAR
4    6722
3      10
2       3
1       1
Name: count, dtype: int64
Mes:Agosto----
DIFICULTAD_HABLAR
4    6605
3      10
1       2
2       1
Name: count, dtype: int64
Mes:Septiembre----
DIFICULTAD_HABLAR
4    6489
3      17
2       5
1       5
Name: count, dtype: int64
Mes:Octubre----
DIFICULTAD_HABLAR
4    6173
3      15
2       5
1       3
Name: count, dtype: int64
Mes:Noviembre----
DIFICULTAD_HABLAR
4    6298
3      13
2       2
1       1
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_VER----
Mes:Enero----
DIFICULTAD_VER
4    6717
3     156
2      29
Name: count, dtype: int64
Mes:Febrero----
DIFICULTAD_VER
4    6682
3     142
2      20
Name: count, dtype: int64
Mes:Marzo----
DIFICULTAD_VER
4    6650
3     177
2      17
Name: count, dtype: int64
Mes:Abril----
DIFICULTAD_VER
4    6461
3     187
2      27
Name: count, dtype: int64
Mes:Mayo----
DIFICULTAD_VER
4    6377
3     140
2      22
1       1
Name: count, dtype: int64
Mes:Junio----
DIFICULTAD_VER
4    6447
3     154
2      27
Name: count, dtype: int64
Mes:Julio----
DIFICULTAD_VER
4    6567
3     147
2      22
Name: count, dtype: int64
Mes:Agosto----
DIFICULTAD_VER
4    6441
3     154
2      22
1       1
Name: count, dtype: int64
Mes:Septiembre----
DIFICULTAD_VER
4    6342
3     157
2      17
Name: count, dtype: int64
Mes:Octubre----
DIFICULTAD_VER
4    6019
3     158
2      18
1       1
Name: count, dtype: int64
Mes:Noviembre----
DIFICULTAD_VER
4    6146
3     145
2      23
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_MOVER_SUBIR_BAJAR----
Mes:Enero----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6780
3     114
2       8
Name: count, dtype: int64
Mes:Febrero----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6717
3     120
2       7
Name: count, dtype: int64
Mes:Marzo----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6734
3      98
2      12
Name: count, dtype: int64
Mes:Abril----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6562
3     102
2      11
Name: count, dtype: int64
Mes:Mayo----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6425
3     105
2      10
Name: count, dtype: int64
Mes:Junio----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6507
3     117
2       4
Name: count, dtype: int64
Mes:Julio----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6637
3      92
2       7
Name: count, dtype: int64
Mes:Agosto----
DIFICULTAD_MOVER_SUBIR_BAJAR

In [17]:
for col in columnas:
    print("----Variable:{}----".format(col))
    print(datos['Enero'][col].value_counts())
    print("-"*20)

----Variable:ZONA_TERRITORIAL----
ZONA_TERRITORIAL
1    6146
2     756
Name: count, dtype: int64
--------------------
----Variable:DPTO----
DPTO
5     512
76    406
68    374
66    365
54    350
13    299
50    290
8     277
47    276
41    275
17    268
63    262
11    260
52    245
73    225
19    218
18    215
15    213
70    212
27    208
44    204
20    193
23    187
25    141
88    112
81     57
95     55
94     46
85     43
99     40
86     35
97     21
91     18
Name: count, dtype: int64
--------------------
----Variable:SEXO----
SEXO
1    4150
2    2752
Name: count, dtype: int64
--------------------
----Variable:PARENTESCO_JEFE_DE_HOGAR----
PARENTESCO_JEFE_DE_HOGAR
3     3212
1     1804
2      749
8      339
9      244
6      186
7      186
13     154
10      17
12       5
5        3
11       2
4        1
Name: count, dtype: int64
--------------------
----Variable:MADRE_RESIDE_HOGAR----
MADRE_RESIDE_HOGAR
2    3363
1    3299
3     240
Name: count, dtype: int64
--------------------
----Variable:PADRE_RESIDE_HOGAR----
PADRE_RESIDE_HOGAR
2    4498
1    1686
3     718
Name: count, dtype: int64
--------------------
----Variable:SE_CONSIDERA_CAMPESINO----
SE_CONSIDERA_CAMPESINO
2    5315
1    1570
9      17
Name: count, dtype: int64
--------------------
----Variable:COMUNIDAD_ES_CAMPESINA----
COMUNIDAD_ES_CAMPESINA
2    5759
1    1120
9      23
Name: count, dtype: int64
--------------------
----Variable:ETNIA----
ETNIA
6    6161
5     509
1     210
3      19
4       2
2       1
Name: count, dtype: int64
--------------------
----Variable:ESTADO_CIVIL----
ESTADO_CIVIL
6.0    4097
2.0    1665
1.0     444
4.0     438
3.0     245
5.0      13
Name: count, dtype: int64
--------------------
----Variable:AFILIADO_SALUD----
AFILIADO_SALUD
1    6266
2     623
9      13
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_OIR----
DIFICULTAD_OIR
4    6864
3      27
2      10
1       1
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_HABLAR----
DIFICULTAD_HABLAR
4    6873
3      28
1       1
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_VER----
DIFICULTAD_VER
4    6717
3     156
2      29
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_MOVER_SUBIR_BAJAR----
DIFICULTAD_MOVER_SUBIR_BAJAR
4    6780
3     114
2       8
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_AGARRAR----
DIFICULTAD_AGARRAR
4    6870
3      29
2       3
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_ENTENDER----
DIFICULTAD_ENTENDER
4    6884
3      13
2       5
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_BANARSE_VESTIRSE----
DIFICULTAD_BANARSE_VESTIRSE
4    6895
3       5
2       2
Name: count, dtype: int64
--------------------
----Variable:DIFICULTAD_RELACIONARSE----
DIFICULTAD_RELACIONARSE
4    6887
3      11
2       4
Name: count, dtype: int64
--------------------
----Variable:LEER_ESCRIBIR----
LEER_ESCRIBIR
1.0    6868
2.0      34
Name: count, dtype: int64
--------------------
----Variable:ACTUALMENTE_ESTUDIA----
ACTUALMENTE_ESTUDIA
2.0    6258
1.0     644
Name: count, dtype: int64
--------------------
----Variable:MAYOR_NIVEL_EDUCATIVO----
MAYOR_NIVEL_EDUCATIVO
5.0     2796
10.0    1367
4.0      854
8.0      790
3.0      350
9.0      318
6.0      280
11.0      76
1.0       33
12.0      24
7.0       13
13.0       1
Name: count, dtype: int64
--------------------
----Variable:MAYOR_GRADO_ALCANZADO----
MAYOR_GRADO_ALCANZADO
2.0     3316
4.0     1052
10.0     822
1.0      427
3.0      344
5.0      323
6.0      304
9.0      102
8.0       77
0.0       75
7.0       53
12.0       6
14.0       1
Name: count, dtype: int64
--------------------
----Variable:TITULO_OBTENIDO----
TITULO_OBTENIDO
2.0     3097
7.0      859
5.0      769
3.0      363
6.0      317
1.0      167
8.0       65
4.0       14
9.0       13
10.0       1
Name: count, dtype: int64
--------------------
----Variable:ORIENTACION_SEXUAL----
ORIENTACION_SEXUAL
2.0    4113
1.0    2755
3.0      34
Name: count, dtype: int64
--------------------
----Variable:GENERO----
GENERO
1.0    4145
2.0    2749
3.0       5
4.0       3
Name: count, dtype: int64
--------------------
----Variable:ACTIVIDAD_OCUPADA_ULTIMA_SEMANA----
ACTIVIDAD_OCUPADA_ULTIMA_SEMANA
1.0    5647
2.0    1255
Name: count, dtype: int64
--------------------
----Variable:TIPO_VIVIENDA----
TIPO_VIVIENDA
1    3506
2    3241
3     106
4      30
5      17
6       2
Name: count, dtype: int64
--------------------
----Variable:MATERIAL_PAREDES----
MATERIAL_PAREDES
1    6350
5     297
4     103
8      66
2      34
3      27
7      22
9       2
6       1
Name: count, dtype: int64
--------------------
----Variable:MATERIAL_PISOS----
MATERIAL_PISOS
4    4679
2    1767
1     251
3     182
6      18
5       4
7       1
Name: count, dtype: int64
--------------------
----Variable:SERVICIOS_ENERGIA_ELECTRICA----
SERVICIOS_ENERGIA_ELECTRICA
1    6876
2      26
Name: count, dtype: int64
--------------------
----Variable:ESTRATO_ENERGIA_ELECTRICA----
ESTRATO_ENERGIA_ELECTRICA
1.0    2808
2.0    2333
3.0    1103
4.0     300
0.0     150
5.0      96
9.0      63
6.0      23
Name: count, dtype: int64
--------------------
----Variable:SERVICIOS_GAS_NATURAL----
SERVICIOS_GAS_NATURAL
1    4917
2    1985
Name: count, dtype: int64
--------------------
----Variable:SERVICIOS_ALCANTARILLADO----
SERVICIOS_ALCANTARILLADO
1    5674
2    1228
Name: count, dtype: int64
--------------------
----Variable:SERVICIOS_RECOLECCION_BASURAS----
SERVICIOS_RECOLECCION_BASURAS
1    6417
2     485
Name: count, dtype: int64
--------------------
----Variable:SERVICIOS_ACUEDUCTO----
SERVICIOS_ACUEDUCTO
1    6377
2     525
Name: count, dtype: int64
--------------------
----Variable:TIPO_SANITARIO----
TIPO_SANITARIO
1    5642
2     909
3     209
6     106
5      28
4       8
Name: count, dtype: int64
--------------------
----Variable:COMO_ELIMINA_BASURA----
COMO_ELIMINA_BASURA
1    6401
4     337
3      86
5      57
2      21
Name: count, dtype: int64
--------------------
----Variable:DONDE_OBTIENE_AGUA----
DONDE_OBTIENE_AGUA
1     6075
10     234
2      176
5      147
3      141
6       62
4       31
8       18
9       11
7        7
Name: count, dtype: int64
--------------------
----Variable:DONDE_PREPARA_ALIMENTOS----
DONDE_PREPARA_ALIMENTOS
1    5651
3     786
4     142
5     137
2     121
6      65
Name: count, dtype: int64
--------------------
----Variable:TIPO_COMBUSTIBLE_COCINAR----
TIPO_COMBUSTIBLE_COCINAR
3.0    4831
4.0    1549
5.0     317
1.0     132
6.0       5
2.0       3
Name: count, dtype: int64
--------------------
----Variable:TIPO_OCUPACION_VIVIENDA----
TIPO_OCUPACION_VIVIENDA
3    3566
1    1706
4     996
5     298
2     160
6     151
7      25
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_CUENTA_CORRIENTE----
HOGAR_TIENE_CUENTA_CORRIENTE
1.0    70
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_CUENTA_AHORROS----
HOGAR_TIENE_CUENTA_AHORROS
1.0    4269
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_CDT----
HOGAR_TIENE_CDT
1.0    13
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_PRESTAMO_COMPRA_VIVIENDA----
HOGAR_TIENE_PRESTAMO_COMPRA_VIVIENDA
1.0    109
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_PRESTAMO_COMPRA_VEHICULO----
HOGAR_TIENE_PRESTAMO_COMPRA_VEHICULO
1.0    53
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_PRESTAMO_LIBRE_INVERSION----
HOGAR_TIENE_PRESTAMO_LIBRE_INVERSION
1.0    354
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_TARJETA_CREDITO----
HOGAR_TIENE_TARJETA_CREDITO
1.0    565
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_OTRO_FINANCIERO----
HOGAR_TIENE_OTRO_FINANCIERO
1.0    146
Name: count, dtype: int64
--------------------
----Variable:HOGAR_TIENE_NINGUNO_DE_ESTOS----
HOGAR_TIENE_NINGUNO_DE_ESTOS
1.0    2456
Name: count, dtype: int64
--------------------
----Variable:HOGAR_NO_SABE_FINANCIERO----
HOGAR_NO_SABE_FINANCIERO
1.0    4
Name: count, dtype: int64
--------------------